* {
    overflow: hidden
}
body {
    /* text-align: center; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
}
h1 {
    color: green;
}

section {
    padding: 40px 5%;
    margin: 0;
    align-items: left;
    background-color: burlywood;
  }

  /* div {
    margin: 0;
  } */

  .button {
    padding: 1.5em;
    align-items: left;
    margin-bottom: 1.1em;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;

    background-color: orange;
    border: none;
    opacity: .6;
    transition: 0.1s;
  }

  .button:hover {
    opacity: 1;
    cursor: pointer;
  }