/* html, body {
    margin: 0;
    padding: 0%;
  } */

  /* REF: centering from stackoverflow */
  canvas {
    background: #ffe3c0;
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
  }