html,
body {
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
  text-align: center;
}

/* REF: centering from stackoverflow */
canvas {
  background: #e5d1b8;
  width: 50%;
  height: 50%;
}

/* #myCanvas {
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  } */
