html, body {
    /* width: 100%;
    height: 100%; */
    margin: 0;
    padding: 0%;
  }

  canvas {
    width: 50%;
    height: 50%;
    position: relative;
    background: #ffe3c0;
    margin-left: 5em;
    margin-right:5em;
    align-items: center;
  }