/* #moveMe {
    position: absolute;
    top: 0;
    left: 0;
  } */
  
  .cursor {
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid black;
    background: rgba(188, 230, 244, 0.5);
    border-radius: 50%;
    /* absolute so cursor follows mouse */
    position: absolute;
    /* center cursor to mouse */
    transform: translate(-50%, -50%); 
    /* This helps scrolling and click links! */
    pointer-events: none;
    transition: all 0.1s ease;

    z-index: 10;
    transform-origin: 100% 100%;
  }

  /* a :hover {
    background: rgba(54, 205, 255, 0.2);
  } */

  .link-grow {
    transform: scale(2);
    background-color: rgba(188, 230, 244, 0.2);
  }