:root {
  font-size: 16px;
  font-family: sans-serif;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
}

/* HORIZONTAL NAVBAR */
/* w3schools nav bar */
#navbar {
  position: fixed;
  width: 100%;
  min-height: 4rem;
  background-color: #efefef;
}

#navbar ul {
  /* float: left; */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
  display: inline;
}
#navbar li:last-child {
  float: right;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1rem;
  color: black;
  font-size: 1.5rem;
}
li a:hover {
  background-color: #e8dbd8;
}
