:root {
  font-size: 24px;
  font-family: sans-serif;
}

/* body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: #000000;
} */

/* filling the page bg color */
body {
  height: 100vh;
  line-height: 1.78em;
  background-color: #efefef;
}

/* HORIZONTAL NAVBAR */
/* w3schools nav bar */
#navbar {
  z-index: 1;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 4rem;
  background-color: #efefef;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar li {
  float: left;
  display: inline;
}
#navbar li:last-child {
  float: right;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 1rem 1rem;
  color: black;
}

ul li:first-child {
  margin-left: 2rem;
}
ul li:last-child {
  margin-right: 2rem;
}

li a:hover {
  background-color: #e8dbd8;
}

/* MAKE COLLAPSABLE NAVBAR */


/* THE HERO SECTION */
#hero-section {
  display: block;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;

  padding: 5em;
  font-size: 1.5em;
  /* height: 100vh; */
  /* background-color: white; */
}

main {
  display: block;
  max-width: 28em;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  /* background-color: red; */
}

footer {
  bottom: 0;
  text-align: center;
  /* width: 100vw; */
  padding: 0.5em;
  background-color: #99938d;
  color: white;

}
